# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
env/

*.db

# Packaging / distribution
build/
dist/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Type checker
.mypy_cache/
.pyre/
.pytype/

# IDE / editor settings
.vscode/
.idea/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Data files (generated / local only)
*.csv
*.html

*.log